body {
    font-family: Arial, sans-serif;
}

.display-5 {
    font-weight: 700;
    color: #333;
}

.text-muted-childNew {
    font-size: 0.9rem;
}

.toc h5 {
    font-size: 1.25rem;
}

.toc ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #ffa500; /* Màu vàng nhạt */
}

.toc ul li {
    font-size: 0.95rem;
    color: #555;
    margin: 5px 0;
}

.toc ul li a:hover {
    text-decoration: underline;
}
@media ( max-width: 768px){
    
}
